
.sg-editing-widget-colorPicker-panel {
	position: 			absolute;
	top: 				26px;
	left: 				-20px;
}

.sg-editing-widget-colorPicker-panel .sg-editing-widget-panel {
	padding: 5px;
}

.sg-editing-widget-colorPicker-panel .sg-widget-triangle-up {
	left: 		18px;
}

