
#sg-editing-creation-menu {
	pointer-events: all;
	position:       absolute;
	z-index:		200;
	cursor: 		crosshair;
	background:  	url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGklEQVQImWP4r237/7+27X8GdIBTgihAmbEAtfATMUvnCp0AAAAASUVORK5CYII=") repeat;	

}

#sg-editing-creation-menu-items  {
	position: 	absolute;
	width: 		140px;
	height:		50px;
}

#sg-editing-creation-menu-items.sg-editing-creation-menu-nw  {
	top: 	15px;
	left: 	15px;
}

#sg-editing-creation-menu-items.sg-editing-creation-menu-ne  {
	top: 	15px;
	right: 	15px;
}

#sg-editing-creation-menu-items.sg-editing-creation-menu-sw  {
	bottom:	15px;
	left: 	15px;
}

#sg-editing-creation-menu-items.sg-editing-creation-menu-se  {
	bottom:	15px;
	right:	15px;
}




/* Items */

.sg-editing-creation-menu-container {
	pointer-events: 	all;

	width: 				30px;
	height: 			30px;
	margin: 			0px;
	font-family: 		Dosis, sans-serif;
	letter-spacing: 	1px;
}

.sg-editing-creation-menu-button {
	position: 			relative;
	cursor: 			pointer;
	width: 				30px;
	height: 			30px;
	margin: 			0;
	padding: 			1px 6px; /* icon files are 18x28 */
	border: 			none;
	outline: 			none;
	overflow: 			visible;

	background-color: 		rgb(255, 41, 61);
	background-repeat: 		no-repeat;
	background-size: 		30px auto;
	background-position:	center;
	-webkit-appearance: 	button;
}

.sg-editing-creation-menu-button:hover {
	background-color: 		rgb(183, 12, 29);
}


.sg-editing-creation-menu-nw > .sg-editing-creation-menu-container {
	float: 			left;
	margin-right:	5px;
	margin-bottom:	20px;
}
.sg-editing-creation-menu-ne > .sg-editing-creation-menu-container {
	float: 			right;
	margin-left:	5px;
	margin-bottom:	20px;
}
.sg-editing-creation-menu-sw > .sg-editing-creation-menu-container {
	float: 			left;
	margin-right:	5px;
	margin-top:		20px;
}
.sg-editing-creation-menu-se > .sg-editing-creation-menu-container {
	float: 			right;
	margin-left:	5px;
	margin-top:		20px;
}


/* Menu Button Icons */

#sg-editing-creation-menu-embedElement {
	background-image: url("icons/createEmbedElement.svg");
}

#sg-editing-creation-menu-iframeElement {
	background-image: url("icons/createIFrameElement.svg");
}

#sg-editing-creation-menu-imageElement {
	background-image: url("icons/createImageElement.svg");
}

#sg-editing-creation-menu-textElement {
	background-image: url("icons/createTextElement.svg");
}