
#sg-editing-grid-container {

	cursor: 			crosshair;
	position: 			absolute;
	top: 				0px;
	background-repeat:  repeat;

}

#sg-editing-grid-control {
	pointer-events: all;
	cursor: 		col-resize;

	position: 		absolute;
	z-index: 		300;
	top:			0px;

	width: 			0px;
	height: 		21px;
	margin-left:	-15px;
	border-style: 	solid;
	border-width: 	10px 15px 0px 15px;
	border-color: 	#ff2b40 transparent transparent transparent;
}

#sg-editing-grid-control:after {
	content:		'';
	position: 		absolute;
	top: 			-4px;
	left:			-1px;
	width: 			2px;
	height: 		10px;
	background-color: #ff2b40;
}

#sg-editing-grid-control.sg-editing-grid-control-hidden {

	opacity: 0;

}

#sg-editing-grid-control.sg-editing-grid-control-hidden:hover {

	opacity: 1;

}