#sg-editing-helperOverlay {

    position:   fixed;
    top:        0px;
    left:       0px;
    z-index:    900;

    background-color:       rgba(20, 20, 20, 0.85);
    background-image:       url(img/help.png);
    background-repeat:      no-repeat;
    background-position:    center;
    background-size:        700px;

    pointer-events:         none;

}