#sg-editing-menu-saveRemote {
	background-image: url("icons/saveRemote.svg");;
}


#sg-editing-menu-saveRemote-panel {
	position: 			absolute;
	top: 				26px;
	left: 				0px;
	width: 				220px;
	height: 			32px;
}

#sg-editing-menu-saveRemote-panel .sg-editing-menu-panel {
	top: 				15px;
	left: 				-20px;
}


.sg-editing-menu-panel > .sg-menu-triangle-top {
	top:  		-12px;
	left: 		18px;
}

#sg-editing-menu-saveRemote-input {
	float: 		left;
	width:		170px;

}

#sg-editing-menu-saveRemote-confirm {
	
}

#sg-editing-menu-saveRemote-confirm {
	background-image: url("icons/confirm.svg");
}