#sg-editing-menu-pageTitle {
	background-image: url("icons/pageTitle.svg");;
}


#sg-editing-menu-pageTitle-panel {
	position: 			absolute;
	top: 				0px;
	left: 				30px;
	width: 				220px;
	height: 			32px;
}




.sg-editing-menu-panel > .sg-menu-triangle-right {
	top:  		-1px;
	left: 		-12px;
}

#sg-editing-menu-pageTitle-input {
	width:		170px;

}

#sg-editing-menu-pageTitle-clear {
	
}

#sg-editing-menu-pageTitle-clear {
	background-image: url("icons/clear.svg");
}