#sg-editing-widget-imgDimensions {
	background-image: url("icons/imgDimensions.svg");
}

#sg-editing-widget-imgDimensions-panel {
	position: 			absolute;
	top: 				26px;
	left: 				-20px;
	width: 				192px;
}

#sg-editing-widget-imgDimensions-panel > .sg-editing-widget-panel {

}



#sg-editing-widget-imgDimensions-panel .sg-widget-triangle-up {
	left: 		18px;
}




#sg-editing-widget-imgDimensions-panel .sg-editing-widget-button {
	background-color: rgb(255, 41, 61);
}

#sg-editing-widget-imgDimensions-panel .sg-editing-widget-button:hover {
	background-color: rgb(183, 12, 29);
}


#sg-editing-widget-imgDimensions-tile {
	background-image: url("icons/tile.svg");
}

#sg-editing-widget-imgDimensions-tileX {
	background-image: url("icons/tileX.svg");
}

#sg-editing-widget-imgDimensions-tileY {
	background-image: url("icons/tileY.svg");
}

#sg-editing-widget-imgDimensions-stretch {
	background-image: url("icons/stretch.svg");
}

#sg-editing-widget-imgDimensions-stretchAspectRatio {
	background-image: url("icons/stretchAspectRatio.svg");
}

#sg-editing-widget-imgDimensions-aspectRatio {
	background-image: url("icons/aspectRatio.svg");
}