#sg-editing-widget-imgDimensions {
	background-image: url("icons/imgDimensions.svg");
}

#sg-editing-widget-imgDimensions-panel {
	position: 			absolute;
	top: 				26px;
	left: 				-20px;
	width: 				192px;
}

#sg-editing-widget-imgDimensions-panel > .sg-editing-widget-panel {

}



#sg-editing-widget-imgDimensions-panel .sg-widget-triangle-up {
	left: 		18px;
}




#sg-editing-widget-imgDimensions-panel .sg-editing-widget-button {
	background-color: rgb(255, 41, 61);
}

#sg-editing-widget-imgDimensions-panel .sg-editing-widget-button:hover {
	background-color: rgb(183, 12, 29);
}


#sg-editing-widget-imgDimensions-tile {
	background-image: url("icons/imgRepeat.svg");
}

#sg-editing-widget-imgDimensions-tileX {
	background-image: url("icons/imgRepeatX.svg");
}

#sg-editing-widget-imgDimensions-tileY {
	background-image: url("icons/imgRepeatY.svg");
}

#sg-editing-widget-imgDimensions-stretch {
	background-image: url("icons/imgStretch.svg");
}

#sg-editing-widget-imgDimensions-stretchAspectRatio {
	background-image: url("icons/imgStretchAspectRatio.svg");
}

#sg-editing-widget-imgDimensions-aspectRatio {
	background-image: url("icons/imageAspectRatio.svg");
}