#sg-editing-widget-iframe {
	background-image: url("icons/iframe.svg");
}

#sg-editing-widget-iframe-panel {
	position: 			absolute;
	top: 				26px;
	left: 				-20px;
	width: 				250px;
	height: 			32px;
}

#sg-editing-widget-iframe-panel .sg-widget-triangle-up {
	left: 		18px;
}

#sg-editing-widget-iframe-input {
	width:		170px;

}

#sg-editing-widget-iframe-chooseFile {
	
}

#sg-editing-widget-iframe-clear {
	
}

#sg-editing-widget-iframe-chooseFile {
	background-image: url("icons/fileManager.svg");
}

#sg-editing-widget-iframe-clear {
	background-image: url("icons/clear.svg");
}