#sg-editing-widget-imgSrc {
	background-image: url("icons/imgSrc.svg");
}

#sg-editing-widget-imgSrc-panel {
	position: 			absolute;
	top: 				26px;
	left: 				-20px;
	width: 				246px;
}


#sg-editing-widget-imgSrc-panel .sg-widget-triangle-up {
	left: 		18px;
}

#sg-editing-widget-imgSrc-input {
	width:		166px;

}

#sg-editing-widget-imgSrc-chooseFile {
	
}

#sg-editing-widget-imgSrc-clear {
	
}

#sg-editing-widget-imgSrc-chooseFile {
	background-image: url("icons/fileManager.svg");
}

#sg-editing-widget-imgSrc-clear {
	background-image: url("icons/removeBackgroundImage.svg");
}