#sg-editing-widget-imgLink {
	background-image: url("icons/imgLink.svg");
}

#sg-editing-widget-imgLink-panel {
	position: 			absolute;
	top: 				26px;
	left: 				-20px;
	width: 				246px;
	height: 			32px;
}

#sg-editing-widget-imgLink-panel .sg-widget-triangle-up {
	left: 		18px;
}

#sg-editing-widget-imgLink-input {
	width:		166px;

}

#sg-editing-widget-imgLink-chooseFile {
	
}

#sg-editing-widget-imgLink-clear {
	
}

#sg-editing-widget-imgLink-chooseFile {
	background-image: url("icons/fileManager.svg");
}

#sg-editing-widget-imgLink-clear {
	background-image: url("icons/unlink.svg");
}