
.sg-editing-widget-container {
	pointer-events: 	all;
	cursor: 			default !important;
	position: 			relative;
	width: 				30px;
	height: 			30px;
	margin: 			0px;
	font-family: 		Dosis, sans-serif;
	letter-spacing: 	1px;

}

.sg-editing-widget-button {
	position: 			absolute;
	cursor: 			pointer;
	width: 				30px;
	height: 			30px;
	margin: 			0;
	/*padding: 			1px 6px;*/ /* icon files are 18x28 */
	border: 			none;
	outline: 			none;
	overflow: 			visible;
	
	background-color: 		rgb(255, 41, 61);
	background-repeat: 		no-repeat;
	background-size: 		30px auto;
	background-position:	center;
	-webkit-appearance: 	button;
}

.sg-editing-widget-button::-moz-focus-inner {
	border: 0;
}

.sg-editing-widget-container.active > .sg-editing-widget-button {
	background-color: 		rgb(183, 12, 29);
}


.sg-editing-selection-widget-menu-right > .sg-editing-widget-container {
	margin-top: 		5px;
}

.sg-editing-selection-widget-menu-bottom > .sg-editing-widget-container {
	float: 				right;
	margin-left: 		5px;
}




.sg-editing-widget-panel {
	position: 			relative;
	top: 				15px;
	left: 				0px;
	background-color: 	rgb(255, 41, 61);
	border:				2px solid rgb(183, 12, 29);
	padding: 			4px;
	-moz-box-sizing: 	border-box;
	-webkit-box-sizing: border-box;
	box-sizing: 		border-box;
}

.sg-editing-widget-panel .sg-editing-widget-button {
	position:				relative;
	background-color: 		rgb(255, 41, 61);
}

.sg-editing-widget-panel .sg-editing-widget-button:hover, .sg-editing-widget-panel .sg-editing-widget-button.active {
	background-color: 		rgb(183, 12, 29);
}

.sg-widget-triangle-up {
	position: 		absolute;
	top: 			-12px;
	left: 			-2px;
	width: 			0;
	height: 		0;
	border-style: 	solid;
	border-width: 	0 15px 10px 15px;
	border-color: 	transparent transparent rgb(183, 12, 29) transparent;
}

.sg-widget-triangle-left {
	position: 		absolute;
	width: 			0;
	height: 		0;
	border-style: 	solid;
	border-width: 	15px 15px 15px 0;
	border-color: 	transparent rgb(183, 12, 29) transparent transparent;
}

.sg-editing-widget-container input[type="text"] {
	float: 			left;
	border:			none;
	margin: 		0px;
	padding:		4px;
	height: 		22px;
}